<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Feed editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Feed editor</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/feed">Home</a></li>
              <li><a href="/auth/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      
      <ul class="nav nav-pills">
        <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href="#">
              <h3>Choose an existing list</h3>
              <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
            {{#existing_list}}
            <li><a href="{{ url }}">{{ name }}</a></li>
            {{/existing_list}}
          </ul>
        </li>
      </ul>
      
      <h3>Start a new list</h3>
      <form id="list_redirect" class="navbar-form pull-left">
        <div>
          <input type="text" id="list_name" placeholder="List name">
        </div>
        <div style="padding-top: 15px;">
          <button type="submit" class="btn btn-primary">
            Start a new list
          </button>
        </div>
      </form>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script>
      $('#list_redirect').submit(function(e) {
        e.preventDefault();
        window.location = 'http://admin.cape.io/feed/' + $('#list_name').val();
      });
    </script>
  </body>
</html>
