<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>
  
<body>

  <ul>
  {{#existing_list}}
  <li><a href="{{ url }}">{{ name }}</a></li>
  {{/existing_list}}
  </ul>
  <form id="list_redirect">
    <input type="text" id="list_name">
    <button type="submit">
      Start a new list
    </button>
  </form>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script>
    $('#list_redirect').submit(function(e) {
      e.preventDefault();
      window.location = 'http://admin.cape.io/feed/' + $('#list_name').val();
    });
  </script>
</body>
</html>
