<!doctype html>
<html>
<head>
  <title>test</title>
</head>
<body>

  <ul>
  {{#existing_list}}
  <li><a href="{{ url }}">{{ name }}</a></li>
  {{/existing_list}}
  </ul>
  <form id="list_redirect">
    <input type="text" id="list_name">
    <button type="submit">
  </form>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>
    $('#list_redirect').submit(function(e) {
      e.preventDefault();
      window.location = 'http://admin.cape.io/feed/' + $('#list_name').val();
    });
  </script>
</body>
</html>
