<!doctype html>
<html>
<head>
  <title>test</title>
  <style>
    h4 {
      font-family: "proxima-nova", Helvetica, Arial, sans-serif;
      font-size: 28px;
      font-weight: 300;
      color: #23323f;
      margin: 5px 0 10px 0;
      line-height: 26px;
    }
    h4 a {
      color: #d53708;
    }
    h4 a:hover {
      color: #0b5b87;
      text-decoration: none;
    }
    a {
      text-decoration: none;
    }
    img {
      display: block;
      float: left;
      opacity: .7;
    }
    ul {
      list-style-type: none;
    }
    li {
      display: list-item;
    }
    img:hover {
      opacity: 1;
    }
    div.item {
      border-bottom: 1px solid #CCC;
    }
    .readMore .button-small {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      border: none;
      background: url(https://s3.amazonaws.com/assets.ngin.com/site_files/3702/i/readMore.png) right center no-repeat;
      text-shadow: none;
      font-family: "proxima-nova", Helvetica, Arial, sans-serif;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;
    }
  </style>
</head>
<body>

  {{#hits.hits}}
  <div class="item ">
    <a href="{{_source.link}}" title="{{_source.message}}">
      <img alt="{{_source.name}}" src="{{_source.picture}}" />
    </a>

    <ul class="details">
      <li>
        <h4><a href="{{_source.link}}" class="">{{_source.name}}</a></h4>
      </li>
      <li class="dateAuthor">
        {{_source.created_time}}<span class="expandedView">, {{_source.caption}}</span>
      </li>
      <li class="teaser expandedView">
        {{_source.description}}
      </li>
      <li class="commentsAndMore expandedView">
        <span class="readMore">
          <a href="{{_source.link}}" class="button-small">Read More</a>
        </span>
      </li>
      <li class="message">
        {{_source.message}}
      </li>
      <li>
        <a href="http://northmpls.webscript.io/action?action=added&type={{_type}}&id={{_id}}&list={{list}}">Approve</a> -
        <a href="http://northmpls.webscript.io/action?action=removed&type={{_type}}&id={{_id}}&list={{list}}">Remove</a>
      </li>
    </ul>

    <span class="clearAll"></span>
  </div>
  {{/hits.hits}}

</body>
</html>
