<!doctype html>
<html>
<head>
  <title>test</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />

  <style>
    h4 {
      font-family: "proxima-nova", Helvetica, Arial, sans-serif;
      font-size: 28px;
      font-weight: 300;
      color: #23323f;
      margin: 5px 0 10px 0;
      line-height: 26px;
    }
    h4 a {
      color: #d53708;
    }
    h4 a:hover {
      color: #0b5b87;
      text-decoration: none;
    }
    a {
      text-decoration: none;
    }
    img {
      display: block;
      float: left;
      opacity: .9;
    }
    ul {
      list-style-type: none;
    }
    li {
      display: list-item;
    }
    img:hover {
      opacity: 1;
    }
    div.item {
      border-bottom: 1px solid #CCC;
    }
    .readMore .button-small {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      border: none;
      background: url(https://s3.amazonaws.com/assets.ngin.com/site_files/3702/i/readMore.png) right center no-repeat;
      text-shadow: none;
      font-family: "proxima-nova", Helvetica, Arial, sans-serif;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;
    }
  </style>
</head>
<body>

{{#hits.hits}}
  <div class="item row">
    <div class="span2">
      <a href="{{_source.link}}" title="{{_source.message}}">
        <img class="img-circle" alt="{{_source.name}}" src="{{_source.picture}}" />
      </a>
    </div>
    <div class="span10">
      <ul class="details">
        <li>
          <h4><a href="{{_source.link}}" class="">{{_source.name}}</a></h4>
        </li>
        <li class="dateAuthor">
          {{_source.created_time}}<span class="expandedView">, {{_source.caption}}</span>
        </li>
        <li class="teaser expandedView">
          {{_source.description}}
        </li>
        <li class="commentsAndMore expandedView">
          <span class="readMore">
            <a href="{{_source.link}}" class="button-small">Read More</a>
          </span>
        </li>
        <li class="message">
          {{_source.message}}
        </li>
        {{#admin}}
        <li>
          <a href="http://cape.webscript.io/flag?action=added&type={{_type}}&id={{_id}}&list={{list}}&api_key=iloveyou_&user=cape_user">Approve</a> -
          <a href="http://cape.webscript.io/flag?action=removed&type={{_type}}&id={{_id}}&list={{list}}&api_key=iloveyou_&user=cape_user">Remove</a>
        </li>
        {{/admin}}
      </ul>
    </div>
  </div>
{{/hits.hits}}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

<!-- ! COMPILED TIME {{ compiled }} !-->
</body>
</html>
