<!doctype html>
<html>
<head>
  <title>Northmpls photos</title>
  <style>
    a {text-decoration: none;}
    img {
      opacity: .7;
      width: 140px;
      height: 140px;
    }
    img:hover {opacity: 1;}
  </style>
</head>
<body>

{{#hits.hits}}
  <a href="{{{_source.link}}}" target="_blank">
    <img src="{{{_source.images.thumbnail.url}}}" alt="" height="{{height}}" width="{{width}}" />
  </a>
{{/hits.hits}}

</body>
</html>
